<!DOCTYPE html>
<html>
<head>
  <title>File not found</title>

  <meta http-equiv="refresh" content="30">
</head>
<body>

  <h1>Hey, it seems that your project is missing this file!</h1>

  <p>
    In production, we'll use your custom /errors/404.html, but in development we thought
    it might be useful to let you know ;)
  </p>

  <p>
    Please refresh the browser after creating this file in your project :)
  </p>

  <a href="javascript:history.go(0)">Refresh</a>
  <a href="javascript:history.back()">Go Back</a>

</body>
</html>