<!DOCTYPE html>
<html>
<head>
  <title>Missing index.html file</title>

  <meta http-equiv="refresh" content="30">
</head>
<body>

  <h1>Hey, it seems that your project is missing the `index.html` file for this directory!</h1>

  <p>
    The `index.html` file inside a directory will always be served in case
    someone accessess a directory address.<br>
    `www.my-domain.com/some-dir` => `www.my-domain.com/some-dir/index.html`
  </p>

  <p>
    That way you can create a "main page" for the directory and create sub pages
    within it. If you want to do so, just create that index.html file and refresh the browser!<br>

    If that was not your intention, you can safely ignore this message. In production,
    we would redirect your user to your custom not found error page `/errors/404.html`
  </p>

  <a href="javascript:history.go(0)">Refresh</a>

</body>
</html>